*.cmd
*.o
*.d
*.mod
*.symvers
*.a
*.order
*.tmp
.tmp*
*.lex.*
*.tab.*
*.builtin*
*.so
*.dtb
System.map
generated/
asm-offsets.s
vdso.so.dbg
include/config/
include/generated/
kernel/bounds.s
kernel/config_data.gz
scripts/mod/devicetable-offsets.s
